.rt-TextFieldRoot {
    background: 0;
}
.css-13cymwt-control{
    background-color: rgba(0,0,0,0) !important;
}
.css-13cymwt-control{
    border: 1px solid hsl(0, 0%, 80%);
}
.css-g56vrd-indicatorContainer{
    padding: 8px;
}
.css-t3ipsp-control{
    background-color: rgba(0,0,0,0) !important;
}
.css-1nmdiq5-menu{
    background-color: rgba(0,0,0,0) !important;
}
.css-10wo9uf-option {
    background: rgba(17, 17, 19, 0.6) !important;
    border-radius: 4px !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid rgba(17, 17, 19, 0.3) !important;
}
.css-d7l1ni-option {
    background: rgba(17, 17, 19, 0.8) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    border-radius: 4px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid rgba(17, 17, 19, 0.3) !important;
}
.css-1dimb5e-singleValue {
    color: hsl(0, 0%, 80%) !important;
}
.css-tr4s17-option {
    background-color: rgba(17, 17, 19, 01) !important;
    border: 0.109vh solid #444444;
}
.css-16xfy0z-control {
    background-color: rgb(25, 25, 25) !important;
    border-color: rgb(90,90,90) !important;
}







.css-13cymwt-control {
    height: 100% !important;
}
.css-t3ipsp-control {
    height: 100% !important;
}
.css-1jqq78o-placeholder {
    font-size: 25px !important;
}